@import "tailwindcss";

@theme {
  --color-main-red: #FF0000;
}

body {
  font-family: var(--font-roboto), sans-serif;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.1rem;
  font-weight: 100;
}

main {
  margin:10px 30px;
}

.chosen-foods-height{
  height:calc(100vh - 59px);
}





